header {
    text-align: center;
    background-color: #20bcff;
    padding: 10px;
    font-size: 16px;
    bottom: 0;
    width: 98.5%;
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
    background-color: #20bcff;
    padding: 10px;
    font-size: 14px;
    bottom: 0;
    width: 98.5%;
}